<h1>Top#index<br><br>
機能概要</h1>
<p>「その日の出来事を一言で記録し、
なぜそう感じたかを深掘りすることで
思考を整理するアプリです。
<br>
「なぜ？」「どこが？」と具体的に問いかけることで、思考の明確化を促します。
思考整理を習慣化して、自分の価値観や本質に気づきませんか？」</p>
<br><br>
------------------------------------------------------------
<br><br>
<%= link_to "ログインなしで使ってみる", "#" %>
<br><br>
<%= form_with do |form| %>
  <%= form.label :address, "メールアドレス" %>
  <%= form.email_field :address %>
<br><br>
  <%= form.label :password, "パスワード" %>
  <%= form.password_field :password %>
<% end %>
<br><br>
<%= link_to "パスワードをお忘れの方はこちら", "#" %>
<br><br>
<%= link_to "ログイン", "#" %>
<br><br>
<%= link_to "新規登録ページへ", "#" %>
<br><br>