<% content_for :title %>
<div
  class="hero min-h-screen"
  style="background-image: url('<%= asset_path('background.png') %>');">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-neutral-content text-center flex-col">
    <h1 class="mb-5 text-3xl md:text-4xl lg:text-5xl font-bold">自分を深く知る5分間</h1>
    <div class="max-w-sm md:max-w-2xl">

      <p class="mb-5">
        <!-- アプリ説明文 -->
        <%= simple_format(t('.introduction')) %>
      </p>
    </div>
                <% if current_user.nil? %> <!-- ログインしていない場合に表示 -->
        <!-- 登録なしで使ってみる -->
        <%= form_with url: guest_login_path, method: :post, local: true, class: "my-5" do |f| %>
          <%= f.button t('.guest_login'), class: "btn btn-success" %>
        <% end %>
                <% end %>
  </div>
</div>








<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">








      <% if current_user.nil? %> <!-- ログインしていない場合に表示 -->

          <!-- Google認証ボタン -->
          <%= link_to auth_at_provider_path(provider: :google), class: "flex justify-center" do %>
            <%= image_tag "web_light_sq_SI.svg", alt: "Sign in with Google", class: "google-button" %>
          <% end %>

          <!-- または -->
          <br><div class="divider text-gray-500 text-sm"><%= t('.or') %></div><br>

          <%= form_with url: login_path, method: :post, local: true do |f| %>
            <%= f.label :email, t('activerecord.attributes.user.email'), class: "label" %>
            <%= f.email_field :email, placeholder: "memosprout@example.com", autocomplete: "email", class: "input input-bordered w-full max-w-xs" %>
            <br>

            <br>
            <%= f.label :password, t('activerecord.attributes.user.password'), class: "label" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-full max-w-xs" %>
            <br><br>
            <div class="tooltip" data-tip="アップデートをお待ちください">
              <!-- パスワードをお忘れの方はこちら -->
              <%= link_to t('.forgot_password?'), "#", class: "link link-primary text-xs" %>
            </div>
            <br><br>
            <%= submit_tag t('.login'), class: "btn btn-warning" %>
          <% end %>
          <br><br>
          <%= link_to t('.sign_up'), new_user_path, class: "btn btn-error" %>
          <br><br>
                    <!-- または -->
          <br><div class="divider text-gray-500 text-sm"><%= t('.or') %></div><br>
                  <!-- 登録なしで使ってみる -->
        <%= form_with url: guest_login_path, method: :post, local: true, class: "my-5" do |f| %>
          <%= f.button t('.guest_login'), class: "btn btn-success" %>
        <% end %>



      <% end %>
      <br>
      <br>
      <div class="bg-[#f4f4f4] rounded-lg p-6"> <!-- 角丸と背景色 -->
        <!-- このアプリでできること -->
        <%= t('.description') %>
        <br>
        <br>
        <div class="carousel carousel-center bg-neutral rounded-box max-w-md space-x-4 p-4 w-96 ">
          <div class="carousel-item">
            <div class="card bg-base-100 w-96 shadow-xl rounded-box">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp"
                  alt="Shoes" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">①</h2>
                <p>
                  <br><br>
                    <!--  その日の出来事を…深掘りします。 -->
                    <%= simple_format(t('.description_1')) %>
                  <br><br>
                  <p><div align="right">※ スライド  →</div></p>
                  <br><br>
                </p>
              </div>
            </div>
          </div>

            <div class="carousel-item">
            <div class="card bg-base-100 w-96 shadow-xl">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.webp"
                  alt="Shoes" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">②</h2>
                <p>
                  <br><br>
                    <!--  なぜそのように感じたのか…整理します。 -->
                    <%= simple_format(t('.description_2')) %>
                  <br><br><br>
                </p>
              </div>
            </div>
          </div>

            <div class="carousel-item">
            <div class="card bg-base-100 w-96 shadow-xl">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp"
                  alt="Shoes" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">③</h2>
                <p>
                  <br><br>
                    <!--  その日の出来事を…見つめ直しましょう。 -->
                    <%= simple_format(t('.description_3')) %>
                  <br><br><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>