<div class="layout-container">
  <div class="inner-box">
    <% content_for :title, t('.title') %>

    <!-- パスワードリセット申請 -->
    <h1><%= t('.title') %></h1>
    <div class="py-8 md:py-30 px-8 md:px-36">
      <%= form_with url: password_resets_path do |f| %>
        <%= f.label :email, "#{I18n.t('activerecord.attributes.user.email')}", class: "custom-label" %>
        <%= f.email_field :email, autocomplete: "email", class: "input input-bordered input-sm  w-full mb-12" %>
        <%= f.submit t('.submit'), class: "btn btn-info" %>
      <% end %>
    </div>

  </div>
</div>
