<div class="navbar bg-base-100 h-16 flex justify-between shadow">

  <!-- å·¦å´è¦ç´  -->
  <div class="flex items-center">
    <!-- ãƒ­ã‚´ -->
    <%= link_to '/' do %>
      <%= image_tag 'logo2.png', alt: "Memo Sprout logo", class: "h-14 py-1 w-auto object-contain" %>
    <% end %>
    <!-- è¨˜éŒ²ã—ã¦æŒ¯ã‚Šè¿”ã‚Šã€æ€è€ƒã‚’è‚²ã¦ã‚‹ï¼ˆãƒ¢ãƒã‚¤ãƒ«éžè¡¨ç¤ºï¼‰ -->
    <h2 class="text-base leading-8 text-gray-900 whitespace-nowrap hidden md:block md:pl-4">
      - <%= t('shared._header.catchphrase') %> -
    </h2>
  </div>

  <!-- å³å´è¦ç´  -->
  <div class="flex items-stretch justify-end min-w-0 gap-2">
    <!-- ãƒãƒ³ãƒãƒ¼ã‚¬ãƒ¼ãƒ¡ãƒ‹ãƒ¥ãƒ¼ -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost rounded-btn px-2 md:px-4 text-2xl">
        <i class="fa-solid fa-bars"></i>
      </div>
      <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow">
        <li>
          <!-- ä½¿ã„æ–¹ -->
          <a onclick="my_modal_3.showModal()"><%= t('shared._header.how_to_use') %></a> <!-- ãƒ¢ãƒ¼ãƒ€ãƒ«ã‚’é–‹ããƒªãƒ³ã‚¯ -->
        </li>
        <li>
          <!-- ãƒ¡ãƒ¢ä¸€è¦§ -->
          <div class="tooltip tooltip-bottom md:tooltip-left" data-tip="ãƒ­ã‚°ã‚¤ãƒ³å¾Œã«ä½¿ãˆã‚‹æ©Ÿèƒ½ã§ã™">
            <p class="text-left">
              <%= t('shared._header_before_login.memo_list') %></a>
            </p>
          </div>
        </li>
        <li>
          <!-- ãŠæ°—ã«å…¥ã‚Š -->
          <div class="tooltip tooltip-bottom md:tooltip-left" data-tip="ãƒ­ã‚°ã‚¤ãƒ³å¾Œã«ä½¿ãˆã‚‹æ©Ÿèƒ½ã§ã™">
            <p class="text-left">
              <a><%= t('shared._header_before_login.favorite') %></a>
            </p>
          </div>
        </li>
        <li>
          <%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape("ä¸€è¨€ãšã¤ã®å…¥åŠ›ã§å‡ºæ¥äº‹ã‚’æŽ˜ã‚Šä¸‹ã’ã¦ã¿ã‚ˆã†ðŸŒ±\n#{root_url}\n#MemoSprout")}", target: "_blank", rel: "noopener noreferrer" do %>
            <!-- ã‚¢ãƒ—ãƒªã‚’ã‚·ã‚§ã‚¢ -->
            <%= t('shared._header_before_login.share_app') %><i class="fa-brands fa-x-twitter"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>
<%= render "memos/example" %> <!-- ä½¿ã„æ–¹ãƒ¢ãƒ¼ãƒ€ãƒ« -->
