<div class="custom-header">

  <!-- 左側要素 -->
  <div class="flex items-center">
    <!-- ロゴ -->
    <%= link_to '/' do %>
      <%= image_tag 'logo2.png', alt: "Memo Sprout logo", class: "h-14 py-1 w-auto object-contain" %>
    <% end %>
    <!-- 記録して振り返り、思考を育てる（モバイル非表示） -->
    <h2 class="text-sm font-medium leading-8 whitespace-nowrap hidden md:block md:pl-4">
      - <%= t('shared._header.catchphrase') %> -
    </h2>
  </div>

  <!-- 右側要素 -->
  <div class="flex items-stretch justify-end min-w-0 gap-2">
    <!-- ログインフォームへのリンク -->
    <div class="btn btn-outline btn-primary rounded-btn px-3 md:px-4 font-bold">
      <% if request.path == root_path %>
        <%= link_to t('shared._header_before_login.login'), '#login-section' %>
      <% else %>
        <%= link_to t('shared._header_before_login.login'), '/' %>
      <% end %>
    </div>
    <!-- ハンバーガーメニュー -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost rounded-btn px-2 md:px-4 text-2xl">
        <i class="fa-solid fa-bars"></i>
      </div>
      <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow">
                <li>
          <!-- メモ一覧 -->
          <div class="tooltip tooltip-bottom md:tooltip-left" data-tip="ログイン後に使える機能です">
            <p class="flex items-center gap-2">
              <i class="fa-solid fa-list"></i>
              <%= t('shared._header_before_login.memo_list') %></a>
            </p>
          </div>
        </li>
        <li>
          <!-- お気に入り -->
          <div class="tooltip tooltip-bottom md:tooltip-left" data-tip="ログイン後に使える機能です">
            <p class="flex items-center gap-2">
              <i class="fa-regular fa-star"></i>
              <a><%= t('shared._header_before_login.favorite') %></a>
            </p>
          </div>
        </li>


        <li class="my-1">
          <!-- 使い方 -->
          <a onclick="my_modal_3.showModal()" class="flex items-center">
            <i class="fa-solid fa-person-circle-question"></i>
            <span><%= t('shared._header.how_to_use') %></span>
          </a> <!-- モーダルを開くリンク -->
        </li>

      </ul>
    </div>
  </div>

</div>
<%= render "memos/example" %> <!-- 使い方モーダル -->
