<div class="custom-header">

  <!-- å·¦å´è¦ç´  -->
  <div class="flex items-center">
    <!-- ãƒ­ã‚´ -->
    <%= link_to '/' do %>
      <%= image_tag 'logo2.png', alt: "Memo Sprout logo", class: "h-14 py-1 w-auto object-contain" %>
    <% end %>
    <!-- è¨˜éŒ²ã—ã¦æŒ¯ã‚Šè¿”ã‚Šã€æ€è€ƒã‚’è‚²ã¦ã‚‹ï¼ˆãƒ¢ãƒã‚¤ãƒ«éžè¡¨ç¤ºï¼‰ -->
    <h2 class="text-sm font-medium leading-8 whitespace-nowrap hidden md:block md:pl-4">
      - <%= t('shared._header.catchphrase') %> -
    </h2>
  </div>

  <!-- å³å´è¦ç´  -->
  <div class="flex items-stretch justify-end min-w-0">
    <!-- ã€Œãƒ­ã‚°ã‚¤ãƒ³ä¸­ã€ã‚‚ã—ãã¯ã€Œã‚²ã‚¹ãƒˆãƒ­ã‚°ã‚¤ãƒ³ä¸­ã€ã®ç”»åƒ -->
    <div class="text-error text-sm flex items-center">
      <img src="<%= asset_path(logged_in? && current_user.email.start_with?("guest_") ? 'guest_login-Photoroom.webp' : 'login-Photoroom.webp') %>" 
          alt="<%= logged_in? && current_user.email.start_with?("guest_") ? 'ã‚²ã‚¹ãƒˆãƒ­ã‚°ã‚¤ãƒ³ä¸­' : 'ãƒ­ã‚°ã‚¤ãƒ³ä¸­' %>" 
          class="h-10 w-auto object-contain flex-shrink-0" />
    </div>
    <!-- ãƒ¡ãƒ¢ä½œæˆã‚¢ã‚¤ã‚³ãƒ³ï¼ˆï¼‹ï¼‰ -->
    <%= link_to new_memo_path, class: "btn btn-ghost rounded-btn px-3 md:px-4", data: { turbo_method: :get} do %>
      <i class="fa-solid fa-plus"></i>
      <p class="hidden sm:block">
        <%= t('shared._header.create_memo') %>
      </p>
    <% end %>
    <!-- ãƒãƒ³ãƒãƒ¼ã‚¬ãƒ¼ãƒ¡ãƒ‹ãƒ¥ãƒ¼ -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost rounded-btn px-2 md:px-4 text-lg">
        <i class="fa-solid fa-bars"></i>
      </div>
      <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow">
        <li class="py-1">
          <!-- ãƒ¡ãƒ¢ä¸€è¦§ -->
          <%= link_to memos_path, class: "flex items-center" do %>
            <i class="fa-solid fa-list"></i>
            <span><%= t('shared._header.memo_list') %></span>
          <% end %>
        </li>
        <li class="py-1">
          <!-- ãŠæ°—ã«å…¥ã‚Š -->
          <%= link_to memo_favorites_path, data: { turbo_method: :get}, class: "flex items-center" do %>
            <i class="fa-regular fa-star"></i>
            <span><%= t('shared._header.favorite') %></span>            
          <% end %>
        </li>
        <li class="my-1">
          <!-- ä½¿ã„æ–¹ -->
          <a onclick="my_modal_3.showModal()" class="flex items-center">
            <i class="fa-solid fa-person-circle-question"></i>
            <span><%= t('shared._header.how_to_use') %></span>
          </a> <!-- ãƒ¢ãƒ¼ãƒ€ãƒ«ã‚’é–‹ããƒªãƒ³ã‚¯ -->
        </li>
        <li class="my-1">
          <!-- ã‚¢ãƒ—ãƒªã‚’ã‚·ã‚§ã‚¢ -->
          <%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape("ä¸€è¨€ãšã¤ã®å…¥åŠ›ã§å‡ºæ¥äº‹ã‚’æŽ˜ã‚Šä¸‹ã’ã¦ã¿ã‚ˆã†ðŸŒ±\n#{root_url}\n#MemoSprout")}", target: "_blank", rel: "noopener noreferrer", class: "flex items-center" do %>
            <i class="fa-brands fa-x-twitter"></i>
            <%= t('shared._header_before_login.share_app') %>
          <% end %>
        </li>
        <li class="my-1">
          <!-- ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ -->
          <%= link_to logout_path, data: { turbo_method: :delete }, class: "flex items-center" do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            <span><%= t('shared._header.logout') %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>
<%= render "memos/example" %> <!-- ä½¿ã„æ–¹ãƒ¢ãƒ¼ãƒ€ãƒ« -->
