<!-- 呼び出し元は memos#index -->

<div id="count_memos">
  <!-- 連続記録日数 -->
  <div class="block pt-6">
    <%= t('memos._count_memos.streak_days') %>

    <!-- モーダル -->
    <button onclick="my_modal_2.showModal()">
      <i class="fa-regular fa-circle-question"></i>
    </button>
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box p-10">

        <!-- 「連続記録日数について」 -->
        <h3 class="lg:text-lg font-bold my-4">
          <%= t('memos._count_memos.note') %>
        </h3>

          <!-- 説明文（「記録は「実際の作成日」でカウントされます…」） -->
<p class="py-4 text-sm md:text-base">
  <%= simple_format(t('memos._count_memos.description'), {}, wrapper_tag: "span") %>
</p>

      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <div class="text-lg font-bold">
    　<%= @streak_days %>日
    </div>
  </div>
  <div class="mb-16 text">
    <% if @today_memo %>
      <!-- 「（今日の記録はカウントされています）」 -->
      <%= t('memos._count_memos.with_count') %>
    <% else %>
      <!-- 「（今日の記録はまだありません。記録更新を目指しましょう！）」 -->
      <div class="block md:inline">
        <% t('memos._count_memos.no_count').split("\n").each do |line| %>
          <span class="block md:inline"><%= line %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- 累計メモ数 -->
  <div class="flex justify-center mb-2">
    <%= t('memos._count_memos.total_memos') %>　<%= @total_memos %>件
  </div>
</div>