<!-- 呼び出し元 memos/new.html.erb -->
<button class="btn btn-outline btn-success" onclick="my_modal_2.showModal()">書き方例</button>
<dialog id="my_modal_2" class="modal">

  <div class="modal-box max-w-5xl">
    <div class="flex flex-wrap md:flex-nowrap"><!-- 子要素を横並びに配置。flex-wrapにより、画面が狭い時には要素が折り返すが、
                                                    md:flex-nowrapで中サイズ以上の画面では折り返さずに横並びに -->

    <!-- 左側モックアップ -->
    <div class="mockup-window border-base-300 border w-full md:w-2/3 p-4">
      <div class="border-base-300 flex justify-center border-t px-4">
        <div class="bg-white py-8 w-full text-center">
          
          <% content_for :title, "メモ作成" %>
          <% parsed_content = JSON.parse(@memo.memo_content) rescue {} %>
          
          <p>どんなことがありましたか？</p>
          
          <%= form_with url: '#', data: { turbo: false } do |f| %>
            <%= f.select :emotion, [["嬉しかったこと・いいね", "happy"]], { selected: "happy" }, class: "select select-error sm:w-[60%]" %>
            
            <br><br>
            <p>いつ（When）</p>
            <%= f.date_field :date, value: Date.today, class: "input input-bordered w-[60%]" %>
            
            <br><br>
            <%= f.fields_for :memo_content do |key| %>
              <p>何（What）(*)</p>
              <%= key.text_area "what：どんなことが嬉しかったの？", value: parsed_content["what"], placeholder: "おともだちと遊んだこと", class: "input input-bordered w-[60%]" %>
              
              <br><br>
              <p>なぜ(Why)(*)</p>
              <%= key.text_area "why：どうして嬉しかったの？", value: parsed_content["why"], placeholder: "楽しかったから", class: "input input-bordered w-[60%]" %>
              
              <br><br>
              <p>なぜをもっと深掘り(*)</p>
              <%= key.text_area "具体的にはそれのどんなところが？", value: parsed_content["why_more"], placeholder: "おままごとをした", class: "input input-bordered w-[60%]" %>
              
              <br><br>
              <p>どのように(How)(*)</p>
              <%= key.text_area "どうやって実現したの？何かアクションをした？", value: parsed_content["how"], placeholder: "「おままごとしよ」って言った", class: "input input-bordered w-[60%]" %>
              
              <br><br>
              <p>まとめ・気付き(*)</p>
              <%= key.text_area "自分の言葉で書き出してみよう", value: parsed_content["summary"], placeholder: "おともだちとおままごとをした。\n自分が「遊ぼう」って言ったから遊べた。\n\n（5歳の女の子の例）", class: "input input-bordered h-32 w-[60%]" %>
            <% end %>
            
            <br><br>
            <%= link_to "入力内容を確認する", "#", class: "btn btn-error" %>
          <% end %>

        </div>
      </div>
    </div>

    <!-- 右側カード表示 -->
    <div class="flex flex-col grid gap-4 w-full md:w-1/3 p-4">
      <div class="card shadow w-full">
        <div class="card-body">
          <h2 class="card-title"><i class="fa-solid fa-1"></i>感情を選択</h2>
          <p><br>記録したい出来事への感情を選びます。</p>
        </div>
      </div>
      <div class="card shadow w-full">
        <div class="card-body">
          <h2 class="card-title"><i class="fa-solid fa-2"></i>一言ずつ入力</h2>
          <p><br>フォームに沿って<br>内容の詳細を記録します。</p>
        </div>
      </div>
      <div class="card shadow w-full">
        <div class="card-body">
          <h2 class="card-title">　</h2>
          <p><br>『なぜ？』を深めることで<br>自身の考えを認識します。</p>
        </div>
      </div>
      <div class="card shadow w-full">
        <div class="card-body">
          <h2 class="card-title"><i class="fa-solid fa-3"></i>まとめ</h2>
          <p><br>
            自身が持っている答えを認識したり、新たな発見があるかもしれません。
            気づきやまとめも簡潔に記録しましょう。
            続けることで、思考整理や言語化の芽が出るかもしれません<i class="fa-solid fa-seedling"></i>
          </p>
        </div>
      </div>
    </div>

    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
