<!-- 呼び出し元 memos/new.html.erb, memos/edit.html.erb -->
<% parsed_content = JSON.parse(@memo.memo_content) rescue {} %>

<!-- 感情に応じたキーワード（色別） -->
<% selected_emotion = emotion_options.find { |_, value| value == @memo.emotion } %>
  <% if selected_emotion %>
    <p class="<%= selected_emotion[2] %> pt-8"><%= selected_emotion[0] %></p>
  <% end %>
  <!-- について、一つずつ掘り下げてみましょう -->
  <%= simple_format (t('memos._form.before')) %>

  <%= form_with model: @memo, url: form_url, data: { turbo: false } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :emotion, value: @memo.emotion %> <!-- フォームに感情を隠しフィールドで渡す -->

    <!-- いつ -->
    <div class="custom-form pt-4">
      <%= f.label :date, "#{t('memos._form.when')}（When）", class: "block" %>
      <%= f.date_field :date, value: @memo.new_record? ? Date.today : @memo.date, class: "custom-input" %>
    </div>

    <%= f.fields_for :memo_content do |key| %>
      <!-- 何 -->
      <div class="custom-form">
        <%= key.label :what, "#{t('memos._form.what')}（What）(*)", class: "block" %>
        <%= key.text_area :what, value: parsed_content['what'], placeholder: @memo.placeholder_for_all(:what, @memo.emotion), class: "custom-input text-sm lg:text-base" %>
      </div>

      <!-- なぜ -->
      <div class="custom-form">
        <%= key.label :why, "#{t('memos._form.why')}(Why)(*)", class: "block" %>
        <%= key.text_area :why, value: parsed_content['why'], placeholder: @memo.placeholder_for_all(:why, @memo.emotion), class: "custom-input text-sm lg:text-base" %>
      </div>

      <!-- なぜをもっと深掘り -->
      <div class="custom-form">
        <%= key.label :why_more, "#{t('memos._form.why_more')}(*)", class: "block" %>
        <%= key.text_area :why_more, value: parsed_content['why_more'], placeholder: @memo.placeholder_for_all(:why_more, @memo.emotion), class: "custom-input text-sm lg:text-base" %>
      </div>

      <!-- どのように -->
      <div class="custom-form">
        <%= key.label :how, "#{t('memos._form.how')}(How)(*)", class: "block" %>
        <%= key.text_area :how, value: parsed_content['how'],  placeholder: @memo.placeholder_for_all(:how, @memo.emotion), class: "custom-input text-sm lg:text-base" %>
      </div>

      <!-- まとめ・気付き -->
      <div class="custom-form">
        <%= key.label :summary, "#{t('memos._form.summary')}(*)", class: "block" %>
        <%= key.text_area :summary, value: parsed_content['summary'], placeholder: @memo.placeholder_for_all(:summary, @memo.emotion), class: "custom-input text-sm lg:text-base h-32" %>
      </div>
    <% end %>

  <%= f.submit @memo.new_record? ? t('memos._form.confirm') : t('memos._form.update'), class: "btn btn-info mb-8" %>
<% end %>
