<!-- 呼び出し元 memos/show.html.erb, memos/confirm.html.erb -->

<div class="badge badge-error badge-outline badge-lg w-full max-w-xs mt-8">
  <%= emotion_label(@memo.emotion) %>
</div>
<%= f.hidden_field :emotion, value: @memo.emotion %>

<!-- いつ -->
<div class="my-16">
  <label class="block text-gray-400">
    <%= t('memos.show.when') %>（When）
  </label>
  <div class="font-extrabold">
    <%= @memo.date %>
  </div>
  <%= f.hidden_field :date, value: @memo.date %>
</div>

<%= f.fields_for :memo_content do |key| %>
  <!-- 何 -->
  <div class="mb-16">
    <label class="block text-gray-400">
      <%= t('memos.show.what') %>（What）
    </label>
    <div class="font-extrabold">
      <%= JSON.parse(@memo.memo_content)["what"] %>
    </div>
    <%= key.hidden_field 'what', value: JSON.parse(@memo.memo_content)["what"] %>
  </div>

  <!-- なぜ -->
  <div class="mb-16">
    <label class="block text-gray-400">
      <%= t('memos.show.why') %>(Why)
    </label>
    <div class="font-extrabold">
      <%= JSON.parse(@memo.memo_content)["why"] %>
    </div>
    <%= key.hidden_field 'why', value: JSON.parse(@memo.memo_content)["why"] %>
  </div>
  
  <!-- なぜをもっと深掘り -->
  <div class="mb-16">
    <label class="block text-gray-400">
      <%= t('memos.show.why_more') %>
    </label>
    <div class="font-extrabold">
      <%= JSON.parse(@memo.memo_content)["why_more"] %>
    </div>
    <%= key.hidden_field 'why_more', value: JSON.parse(@memo.memo_content)["why_more"] %>
  </div>

  <!-- どのように -->
  <div class="mb-16">
    <label class="block text-gray-400">
      <%= t('memos.show.how') %>(How)
    </label>
    <div class="font-extrabold">
      <%= JSON.parse(@memo.memo_content)["how"] %>
    </div>
    <%= key.hidden_field 'how', value: JSON.parse(@memo.memo_content)["how"] %>
  </div>
  
  <!-- まとめ・気付き -->
  <div class="mb-16">
    <label class="block text-gray-400">
      <%= t('memos.show.summary') %>
    </label>
    <div class="font-extrabold">
      <%= simple_format JSON.parse(@memo.memo_content)["summary"] %>
    </div>
    <%= key.hidden_field 'summary', value: JSON.parse(@memo.memo_content)["summary"] %>
  </div>
<% end %>
