<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <% content_for :title, "メモ一覧" %>

      <h1 class="text-3xl">Memo一覧</h1><br>
      <% if @memos.present? %>
        <div class="border p-3 mb-10"> <!-- 最終更新のメモ -->
          最新の記録<br><br>
          <%= @latest_memo.date %><br>
          <div class="text-xl">
            <%= JSON.parse(@latest_memo.memo_content)["what"] %>
          </div><br>
          <%= simple_format(JSON.parse(@latest_memo.memo_content)["summary"]) %> 
        </div>

        <br><br>
        <%= render "count_memos" %> <!-- メモ総数と連続記録日数 -->
        <% @memos.each do |memo| %> <!-- メモ一覧 -->
          <div id="memo-<%= memo.id %>">
            <div class="border p-3">
              <div class="flex justify-start">
                <%= memo.date || "日付は未選択です" %>
              </div>
              <!-- タイトル（Whatの内容）-->
              <%= link_to JSON.parse(memo.memo_content)["what"], memo_path(memo), id: memo.id, class: "btn glass btn-wide btn-lg" %>
              <div class="flex justify-end">
                <%= render "shared/favorite_star", memo: memo %> <!-- お気に入りの⭐️ -->
                <%= link_to edit_memo_path(memo), class: "mx-2" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to memo_path(memo), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？\n\n※このメモが連続記録日数に含まれている場合、\n　記録が途切れる可能性があります。" }, class: "mx-2" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %><br><br>
        <%= paginate @memos %> <!-- ページネーション -->

      <% else %> <!-- メモがない場合 -->
      <%= render "count_memos" %><!-- メモ総数と連続記録日数 -->
        記録はまだありません。<br>
        メモを作成してみましょう！<br><br>
        <%= link_to "新規作成", new_memo_path, class: "btn" %>
      <% end %>
      <br><br>
    </div>
  </div>
</div>
