<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">

      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Memos#new　メモ新規作成
      </p>
      <br><br>

      <div class="badge badge-neutral badge-lg text-lg">嬉しかったこと・いいね を入力</div>
      <button class="btn" onclick="my_modal_2.showModal()">書き方例</button>
      <dialog id="my_modal_2" class="modal">
        <div class="modal-box">
          <h3 class="text-lg font-bold">例</h3>
          <p class="py-4">只今作成中です。<br>アップデートをお待ちください🌱</p>
          <p class="py-4 text-gray-500">※ESCキーを押すか、外側をクリックすることで閉じます</p>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
      <br><br>
      <%= form_with model: @memo do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        いつ（When）<br>
        <%= f.date_field :date %>
        <br><br>
        <%= f.fields_for :memo_content do |key| %>
          何（What）(*)<br>
          <%= key.text_field 'what',  placeholder: "何？どんなこと？があったの？" %>
          <br><br>
          なぜ(Why)(*)<br>
          <%= key.text_field 'why',  placeholder: "どうして嬉しかったの？" %>
          <br><br>
          なぜをもっと深掘り(*)<br>
          <%= key.text_field 'why_more', placeholder: "具体的にはどんなところ？" %>
          <br><br>
          どのように(How)(*)<br>
          <%= key.text_field 'how',  placeholder: "どうやって実現したの？何かアクションをした？" %>
          <br><br>
          まとめ・気付き<br>
          <%= key.text_field 'summary', placeholder: "自分の言葉で書き出してみよう" %>
          <% end %>
        <br><br>
        <%= f.submit nil, class: "btn btn-error" %>
      <% end %>
  </label>
      <br>
    </div>
  </div>
</div>