<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y7W0FJ8QN2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y7W0FJ8QN2');
    </script>

    <%= yield :head %>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icon.svg">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="manifest" HREF="/manifest.json">
    <meta name="theme-color" content="#3E6607">
    <meta name="msapplication-TileImage" content="/android-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#FFFEFC">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/3ddcc67dd4.js" crossorigin="anonymous"></script>

    <!-- Turboとアセット -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- メタタグ -->
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="bg-base-200">
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/header_before_login" %>
    <% end %>
    <%= render "shared/flash_message" %>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
